<!-- <app-navbar></app-navbar>
 -->
<div class="wrapper">
    <div class="container p-0 m-0">
        <div class="row">

            <!-- sidebar -->
            <div class="col-md-2 p-0 col-sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <!-- form -->
            <div class="col-md-10 m-0 text-center col-form">
                <p>form</p>
            </div>
        </div>
    </div>

</div>
<div class="footer animate__fadeInUp">
    <app-footer></app-footer>
</div>