<div class="sb-container m-0">

    <!-- marca -->
    <div class="sb-brand">
        <div class="m-0 p-0">
            <div class="row text-center p-0">
                <img class="sb-image mt-2 p-0" src="{{brand.logo}}" alt="">
            </div>
            <div class="p-0 m-0 row text-center">
                <h1 class="p-0 m-0 mt-3 sb-title">{{brand.title}}</h1>
            </div>
        </div>
    </div>

    <!-- navegacion -->
    <div class="sb-navigation">
        <ul>
            <li>
                <a href="#">
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</div>