<footer class="custom text-center text-white">
    <!-- Grid container -->
    <div class="container text-center">
        <div class="row text-center row-custom">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div [ngClass]="{'collapsed': collapsed}" class="ft-container m-0">
                    <!-- Section: Social media -->
                    <section class="m-0">
                        <!-- Facebook -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                      ></a>

                        <!-- Twitter -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                      ></a>

                        <!-- Google -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
                      ></a>

                        <!-- Instagram -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
                      ></a>

                        <!-- Linkedin -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                      ></a>

                        <!-- Github -->
                        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                      ></a>
                    </section>
                    <!-- Section: Social media -->
                </div>
            </div>
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center pt-1 pb-0 bottom-custom">
        Desarrollado con ♥ por los pibes de
        <a (click)="collapse()" href="#" class="text-white">HVDevs</a>
    </div>
    <!-- Copyright -->
</footer>